In [ ]:
from google.colab import files

uploaded = files.upload()

Saving store.csv to store.csv

In [ ]:
import pandas as pd

df = pd.read_csv("store.csv")
df.head()

,name,rating,review_count,price,categories,address,latitude,longitude,yelp_url,score,price_level
0,Molly Tea,4.5,1547,$$,"Bubble Tea, Coffee & Tea","425 W Valley Blvd, Ste 101-102, San Gabriel, C...",34.079699,-118.106439,https://www.yelp.com/biz/molly-tea-san-gabriel...,33.051236,Medium
1,BenGong’s Tea,4.7,362,$$,"Bubble Tea, Coffee & Tea, Beverage Store","500 E Valley Blvd, San Gabriel, CA 91776",34.079671,-118.094534,https://www.yelp.com/biz/bengong-s-tea-san-gab...,27.703693,Medium
2,Chicha San Chen,4.0,1326,$,"Bubble Tea, Taiwanese, Tea Rooms","301 W Valley Blvd, Ste 116, San Gabriel, CA 91776",34.080065,-118.104356,https://www.yelp.com/biz/chicha-san-chen-san-g...,28.762704,Low
3,Formosa Aroma,4.3,164,$$,"Bubble Tea, Tea Rooms, Juice Bars & Smoothies","5570 Rosemead Blvd, Unit 130, Temple City, CA ...",34.101120,-118.072870,https://www.yelp.com/biz/formosa-aroma-temple-...,21.955566,Medium
4,3Catea,3.9,317,$$,Bubble Tea,"432 E Valley Blvd, Ste D, San Gabriel, CA 91776",34.079640,-118.094970,https://www.yelp.com/biz/3catea-san-gabriel-5?...,22.472000,Medium

In [ ]:
df["city"] = (
    df["address"]
      .str.split(",")
      .str[-2]
      .str.strip()
)

df[["address", "city"]].head()

                                             address         city
0  425 W Valley Blvd, Ste 101-102, San Gabriel, C...  San Gabriel
1           500 E Valley Blvd, San Gabriel, CA 91776  San Gabriel
2  301 W Valley Blvd, Ste 116, San Gabriel, CA 91776  San Gabriel
3  5570 Rosemead Blvd, Unit 130, Temple City, CA ...  Temple City
4    432 E Valley Blvd, Ste D, San Gabriel, CA 91776  San Gabriel

In [ ]:
df

,name,rating,review_count,price,categories,address,latitude,longitude,yelp_url,score,price_level,city
0,Molly Tea,4.5,1547,$$,"Bubble Tea, Coffee & Tea","425 W Valley Blvd, Ste 101-102, San Gabriel, C...",34.079699,-118.106439,https://www.yelp.com/biz/molly-tea-san-gabriel...,33.051236,Medium,San Gabriel
1,BenGong’s Tea,4.7,362,$$,"Bubble Tea, Coffee & Tea, Beverage Store","500 E Valley Blvd, San Gabriel, CA 91776",34.079671,-118.094534,https://www.yelp.com/biz/bengong-s-tea-san-gab...,27.703693,Medium,San Gabriel
2,Chicha San Chen,4.0,1326,$,"Bubble Tea, Taiwanese, Tea Rooms","301 W Valley Blvd, Ste 116, San Gabriel, CA 91776",34.080065,-118.104356,https://www.yelp.com/biz/chicha-san-chen-san-g...,28.762704,Low,San Gabriel
3,Formosa Aroma,4.3,164,$$,"Bubble Tea, Tea Rooms, Juice Bars & Smoothies","5570 Rosemead Blvd, Unit 130, Temple City, CA ...",34.101120,-118.072870,https://www.yelp.com/biz/formosa-aroma-temple-...,21.955566,Medium,Temple City
4,3Catea,3.9,317,$$,Bubble Tea,"432 E Valley Blvd, Ste D, San Gabriel, CA 91776",34.079640,-118.094970,https://www.yelp.com/biz/3catea-san-gabriel-5?...,22.472000,Medium,San Gabriel
...,...,...,...,...,...,...,...,...,...,...,...,...
156,J & B Donuts,4.7,22,$,"Donuts, Ice Cream & Frozen Yogurt, Bubble Tea","2345 Whittier Blvd, Montebello, CA 90640",34.013379,-118.126443,https://www.yelp.com/biz/j-and-b-donuts-monteb...,14.736823,Low,Montebello
157,Janejira Thai Bistro,4.4,475,$$,"Thai, Bubble Tea, Juice Bars & Smoothies","754 E Colorado Blvd, Pasadena, CA 91101",34.145540,-118.134760,https://www.yelp.com/biz/janejira-thai-bistro-...,27.127839,Medium,Pasadena
158,BMC Pho,3.2,223,$,"Vietnamese, Noodles, Bubble Tea","11016 Lower Azusa Rd, El Monte, CA 91731",34.091896,-118.025641,https://www.yelp.com/biz/bmc-pho-el-monte-10?a...,17.317267,Low,El Monte
159,Tasty Bowl,4.4,139,$$,"Japanese, Bubble Tea, Korean","2603 Tyler Ave, El Monte, CA 91733",34.058721,-118.035855,https://www.yelp.com/biz/tasty-bowl-el-monte-2...,21.743227,Medium,El Monte
160,Sunny Express,2.9,48,$,"Chinese, Bubble Tea, Fast Food","9930 E Garvey Ave, El Monte, CA 91733",34.062702,-118.051742,https://www.yelp.com/biz/sunny-express-el-mont...,11.286279,Low,El Monte

In [ ]:
df["city"].isna().sum()

np.int64(0)

In [ ]:
df_drop = df.drop(columns=["yelp_url", "latitude", "longitude", "categories", "address", "price"])

In [ ]:
df_drop

,name,rating,review_count,score,price_level,city
0,Molly Tea,4.5,1547,33.051236,Medium,San Gabriel
1,BenGong’s Tea,4.7,362,27.703693,Medium,San Gabriel
2,Chicha San Chen,4.0,1326,28.762704,Low,San Gabriel
3,Formosa Aroma,4.3,164,21.955566,Medium,Temple City
4,3Catea,3.9,317,22.472000,Medium,San Gabriel
...,...,...,...,...,...,...
156,J & B Donuts,4.7,22,14.736823,Low,Montebello
157,Janejira Thai Bistro,4.4,475,27.127839,Medium,Pasadena
158,BMC Pho,3.2,223,17.317267,Low,El Monte
159,Tasty Bowl,4.4,139,21.743227,Medium,El Monte
160,Sunny Express,2.9,48,11.286279,Low,El Monte

In [ ]:
import sqlite3

conn = sqlite3.connect(":memory:")  # local in-memory DB
df_drop.to_sql("store", conn, index=False, if_exists="replace")

161

# Top 10 store with Low prices:

In [ ]:
query = """
SELECT
  name,
  city,
  rating,
  review_count,
  score,

  RANK() OVER (
    ORDER BY score DESC, review_count DESC
  ) AS price_range_rank
FROM store
WHERE price_level = 'Low'
ORDER BY price_range_rank
LIMIT 10;


"""
pd.read_sql(query, conn)

,name,city,rating,review_count,score,price_range_rank
0,Chicha San Chen,San Gabriel,4.0,1326,28.762704,1
1,Oh My Pan Bakery & Cafe,San Gabriel,3.8,1262,27.136731,2
2,Neighbors Tea House,Rosemead,4.2,588,26.789390,3
3,TeaMorrow,South Pasadena,4.2,490,26.025065,4
4,HOJI Tea Community,Pasadena,4.3,386,25.621226,5
5,Bubble Puff & Tea,Pasadena,4.4,265,24.567384,6
6,Sharetea,Arcadia,3.9,473,24.028709,7
7,Little Dimples Playground & Cafe,Montebello,4.2,255,23.289745,8
8,Sweet Heart Dessert House,Rosemead,3.7,468,22.757230,9
9,Sunmerry Bakery,Temple City,3.6,529,22.582357,10

# Top 10 store with Medium prices:

In [ ]:
query = """
SELECT
  name,
  city,
  rating,
  review_count,
  score,

  RANK() OVER (
    ORDER BY score DESC, review_count DESC
  ) AS price_range_rank
FROM store
WHERE price_level = 'Medium'
ORDER BY price_range_rank
LIMIT 10;


"""
pd.read_sql(query, conn)

,name,city,rating,review_count,score,price_range_rank
0,Boba Ave Express,Arcadia,4.5,3152,36.252493,1
1,Bopomofo Cafe,San Gabriel,4.3,2338,33.357159,2
2,Molly Tea,San Gabriel,4.5,1547,33.051236,3
3,HaiCha,Pasadena,5.0,461,30.677824,4
4,Cup of Cha Tea House,Monrovia,4.6,733,30.353142,5
5,Tpumps - Pasadena,Pasadena,4.1,1423,29.771023,6
6,R&B Tea,Rosemead,4.7,554,29.699150,7
7,Tea Brick,Monterey Park,3.9,1918,29.482282,8
8,Motto Tea Cafe,Pasadena,4.2,1081,29.343579,9
9,LT9 Tea Blends,Pasadena,4.5,585,28.679939,10

# Top 10 store with Unknown prices:

In [64]:
query = """
SELECT
  name,
  city,
  rating,
  review_count,
  score,

  RANK() OVER (
    ORDER BY score DESC, review_count DESC
  ) AS price_range_rank
FROM store
WHERE price_level = 'Unknown'
ORDER BY price_range_rank
LIMIT 10;


"""
pd.read_sql(query, conn)

,name,city,rating,review_count,score,price_range_rank
0,Torotea,San Marino,4.4,397,26.340389,1
1,Boba Friend,Monrovia,4.6,264,25.666757,2
2,One Tea,Temple City,4.7,207,25.086429,3
3,Hop Cafe,Arcadia,4.5,142,22.332801,4
4,Macu Tea - Pasadena,Pasadena,4.5,130,21.938388,5
5,My Friends Cafe,Sierra Madre,4.7,105,21.918164,6
6,Heytea,Monterey Park,3.9,211,20.890686,7
7,Moncha Cafe,Rosemead,4.6,74,19.860445,8
8,Tim’s Thai Tea,San Gabriel,4.1,112,19.382290,9
9,Fresh Delicious,Arcadia,4.1,89,18.449220,10

# Ranking for city:

In [74]:
query = """
WITH ranked AS (
  SELECT
    name,
    city,
    rating,
    review_count,
    score,
    RANK() OVER (
      PARTITION BY city
      ORDER BY score DESC
    ) AS city_rank,
    COUNT(*) OVER (
      PARTITION BY city
    ) AS total_stores_in_city
  FROM store
)
SELECT
  name,
  city,
  rating,
  review_count,
  score,
  city_rank,
  total_stores_in_city,
  ROUND(100.0 * city_rank / total_stores_in_city, 2) AS percent_rank
FROM ranked
WHERE name LIKE '%ICI tea drink%';

"""
pd.read_sql(query, conn)

,name,city,rating,review_count,score,city_rank,total_stores_in_city,percent_rank
0,ICI Tea Drinks,San Gabriel,4.7,158,23.82385,15,29,51.72

# Ranking for all stores:

In [72]:
query = """
WITH ranked AS (
  SELECT
    name,
    city,
    rating,
    review_count,
    score,
    RANK() OVER (
      ORDER BY score DESC, review_count DESC
    ) AS store_rank,
    COUNT(*) OVER () AS total_stores
  FROM store
)
SELECT *,
  ROUND(100.0 * store_rank / total_stores, 2) AS percent_rank
FROM ranked
WHERE name LIKE '%ICI tea drink%';

"""
pd.read_sql(query, conn)

,name,city,rating,review_count,score,store_rank,total_stores,percent_rank
0,ICI Tea Drinks,San Gabriel,4.7,158,23.82385,61,161,37.89